<a href="https://colab.research.google.com/github/Amitda-an/Python-With-ML/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BASICS OF PYTHON

In [ ]:
for i in range(1,10):
    if i<6:
        print(" "*(5-i)+"*"*i)
    else:
            print(" "*(i-5)+"*"*(10-i))

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [ ]:
a="12345"
for i in range(1,6):
    print(" "*(5-i)+ a[:i])

    1
   12
  123
 1234
12345

In [ ]:
n=1
for i in range(1,6):
  print(" "*(5-i),n*n)
  n=n*10+1

     1
    121
   12321
  1234321
 123454321

In [ ]:
def Sum(*t):
  s=0
  for i in t:
    s=s+i
  print(s)
Sum(1,2,3,4)

10

In [ ]:
def Sum(*t):
  s=0
  for i in t:
    s=s+i
  print(s)

In [ ]:
def oddeven(*t):
  for i in t:
    if i%2==0:
      print(i,"even")
    else:
      print(i,"odd")
oddeven(2,4,6,7,9,23)

2 even
4 even
6 even
7 odd
9 odd
23 odd

In [ ]:
def countoddeven(*t):
  even=0
  odd=0
  for i in t:
    if i%2==0:
      even+=1
    else:
      odd+=1
  print("even ",even,"odd ",odd)
countoddeven(2,4,6,7,9,23)

even  3 odd  3

In [ ]:
def fact(*t):
  for i in t:
    f=1
    for j in range(1,i+1):
      f=f*j
    print(f)
fact(1,2,3,4,5)

1
2
6
24
120

In [ ]:
t=()
for i in range(5):
  x=int(input())
  t+=(x,)
print(t)

12
88
6
55
34
(12, 88, 6, 55, 34)

In [ ]:
combs=[]
for x in [1,2,3]:
  for y in [3,1,4]:
    if x!=y:
      combs.append((x,y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
x=[1,2,2,1,3,4,3,4,1,2]
y=[]
for i in x:
  if i not in y:
    y.append(i)
print(y)

[1, 2, 3, 4]

In [ ]:
a=[0,1]
[a.append(a[-1]+a[-2]) for i in range(8)]
print(a)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]